html, body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto' !important; 
}

*:not(.fa) {
    font-family: Segoe Ui;
}

.container {
    padding: 0 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, nav li.active {
    background-color: #111;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pull-right {
    display: flex;
    margin-left: auto;
}

.pull-left {
    display: flex;
    margin-right: auto;
}

.btn {
    font-size: 12pt;
    height: 40px;
    min-width: 150px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    opacity: 0.8;     
}

.btn:hover {
    opacity: 1;
}

.btn.btn-default {
    background-color: #333;
    color: #fff;
}

table {
    margin-top: 10px;
    width: 100%;
    display: table;
    border: 1px solid #EEE;
    border-collapse: collapse;
    border-spacing: 0
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

tbody tr {
    cursor: pointer;
}

table, th, td {
    border: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

table.highlight tbody tr:hover {
    background-color:#f2f2f2
}
table.striped tbody tr td {
    border-radius: 0
}

.overlay {
    z-index: 1000 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #333;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 45%;
    top: 40%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    z-index: 3000 !important;
  }
  
  .loader-overlay {
    z-index: 1000 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .modal {
      display: none;
      padding: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      min-width: 400px;
      z-index: 3000;
      min-height: 400px;
      background: white;
      transition: display 1s;
  }

  .modal.open {
      transition: display 1s;
      display: block !important;
  }

  .modal-content {
      display: relative;
  }

  .modal .close {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;
      margin-bottom: 10px;
  }

  .columns {
      display: flex;
      flex-flow: row wrap;
  }

  .columns .item-6 {
      flex-grow: 1;
      width: 50%;
  }

  img.preview {
      border: 1px solid #DDD;
      width: 100%;
  }

  .form-control {
      width: 100%;
      height: 30px;
      border: none;
      outline: none;
      border-bottom: 1px solid #999;
      margin-bottom: 10px;
  }

  .btn.btn-block {
      width: 100%;
      margin-bottom: 5px;
  }

  .btn.btn-success {
      background-color: #278a1b !important;
      color: white; 
  }

  .btn.btn-danger {
      background-color: #860404 !important;
      color: white;
  }

  img.thumbnail {
      width: .6in !important;
  }

  footer {
      position: relative;
      text-align: center;
    }
    
    .footer-content {
        padding-top: 15px;
        height: 40px;
        background: #333;
        color: #FFF;
        position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      right: 0;
  }

#search {
    width: 200px !important;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    padding-bottom: 8px;
    padding-left: 25px;
}

.search-wrapper {
    position: relative;
}

.search-wrapper span {
    position: absolute;
    left: 10px;
    top: 3px;
}

.pagination {
    position: absolute;
    bottom: 90px;
}

.center {
    text-align: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}